<div style="width:45%;">
  <%= simple_form_for [@restaurant, @menu] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs menu">
      <%= f.input :name %>
      <%= f.input :description, placeholder: "The best dish in the world" %>
      <%= f.input :category, selection: true, collection: ["Breakfast", "Lunch", "Dinner", "Starters", "Mains", "Desserts", "Drinks"] %>
      <%= f.input :price, as: :numeric %>
      <%= f.input :photo, as: :file, input_html: { multiple: true } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Submit" %>
    </div>
  <% end %>
</div>
