<div>
  <%= simple_form_for(@restaurant) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs restaurant">
      <%= f.input :name %>
      <%= f.input :address, placeholder: "Shoreditch Stables, North, 138 Kingsland Rd, London E2 8DY" %>
      <%= f.input :cuisine, as: :radio_buttons, collection: ["American", "Japanese", "Mexican", "Chinese", "Bar", "Vegan"] %>
      <%= f.input :phone_number, placeholder:"+447523412345"%>
      <%= f.input :venue_type, as: :radio_buttons, collection: ["Private room only", "Whole floor", "Whole venue"] %>
      <%= f.input :chairs, as: :numeric %>
      <%= f.input :max_guests, as: :numeric %>
      <%= f.input :price, as: :numeric %>
      <%= f.input :rating, as: :float %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>

    <div class="form-actions">
      <%=f.button :submit, @restaurant.id.nil? ? "Add Menu" : "Save", class: "menu-submit bg-blue-600  px-3 py-2 mt-4 rounded-md"%>
    </div>
  <% end %>
</div>
