<div class="show-container">

  <div class="flex justify-between">
    <div>
      <h1 class="text-3xl bold"><%= @restaurant.name %></h1>
      <h3 class="mt-1"><%= @restaurant.address %></h3>
      <h3 class="mt-1"><%= @restaurant.phone_number %></h3>
    </div>

    <div>

      <div class="underline underline-offset-2">
        <i class="fa-solid fa-pen-to-square"></i>
        <%= link_to "Edit", edit_restaurant_path%>
      </div>

    </div>
  </div>

  <div class="w-full">
    <div class="w-full mt-4 flex space-between gap-3">
      <div class="flex">
        <img src="https://images.unsplash.com/photo-1560053608-13721e0d69e8?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=500&ixid=MnwxfDB8MXxyYW5kb218MHx8cmVzdGF1cmFudHx8fHx8fDE2NjE5NTIyODg&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=800" class="rounded-2xl" />
      </div>
      <div>
        <img src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=250&ixid=MnwxfDB8MXxyYW5kb218MHx8cmVzdGF1cmFudHx8fHx8fDE2NjE5NTE4Mjc&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=250" class="rounded-2xl" />
        <img src="https://images.unsplash.com/photo-1592861956120-e524fc739696?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=250&ixid=MnwxfDB8MXxyYW5kb218MHx8cmVzdGF1cmFudHx8fHx8fDE2NjE5NTE5MTM&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=250" class="rounded-2xl mt-3" />
      </div>
      <div>
        <img src="https://images.unsplash.com/photo-1604328471151-b52226907017?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=250&ixid=MnwxfDB8MXxyYW5kb218MHx8cmVzdGF1cmFudHx8fHx8fDE2NjE5NTE5NzI&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=250" class="rounded-2xl" />
        <img src="https://images.unsplash.com/photo-1564759224907-65b945ff0e84?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=250&ixid=MnwxfDB8MXxyYW5kb218MHx8cmVzdGF1cmFudHx8fHx8fDE2NjE5NTIwODk&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=250" class="rounded-2xl mt-3" />
      </div>
    </div>

    <div class="show-reservation-container flex justify-between">
      <div class="show-info-container flex justify-between mt-3">
        <div>
          <h2 class="text-2xl bold"><%= @restaurant.venue_type %> at <%= @restaurant.name %></h2>
          <h3 class="text-xl mt-1"><%= @restaurant.cuisine %> cuisine</h3>
          <div class="text-lg mt-2">
            <% checked = @restaurant.rating.ceil %>
            <% checked.times do %>
              <span class="fa fa-star checked"></span>
            <% end %>
            <% unchecked = 5 - (@restaurant.rating.ceil) %>
            <% unchecked.times do %>
              <span class="fa fa-star"></span>
            <% end %>
          </div>
        </div>
        <div class="flex w-5/12 justify-end items-start gap-2">
          <div class="flex w-16 justify-center items-center">
            <h2 class="mt-2 text-xl"><%= @restaurant.chairs %></h2>
            <i class="fa-solid fa-chair ml-2 text-2xl"></i>
          </div>
          <div class="flex w-16 justify-center items-center">
            <h2 class="mt-2 text-xl"><%= @restaurant.max_guests %></h2>
            <i class="fa-solid fa-male ml-2 text-2xl"></i>
          </div>
          <div class="flex justify-center items-center w-16">
            <h2 class="mt-2 text-xl">25</h2>
            <i class="fas fa-beer ml-2 text-2xl"></i>
          </div>
        </div>
      </div>

      <div>

        <div class="mt-4 p-2 border shadow-sm rounded-lg bg-white fixed bottom-20 right-44 z-50">
          <i class="fa-solid fa-list"></i>
          <%= link_to "See all reservations", host_bookings_path(restaurants_ids: @restaurant.id)%>
        </div>

      </div>
    </div>
  </div>

    <h2 class="text-3xl mt-20 mb-6">Menu</h2>
    <div>

      <div class="underline underline-offset-2 mb-10">
        <i class="fa-solid fa-circle-plus"></i>
        <%= link_to "Add item", new_restaurant_menu_path(@restaurant.id)%>
      </div>

    <div class="mt-4">
      <% @restaurant.menus.each do |menu| %>
        <div class="flex flex-wrap items-center mt-3 gap-4 w-8/12">
          <div>
            <img src=<%= "https://source.unsplash.com/random/120x120/?food-#{menu.name}" %> class="rounded-2xl" />
          </div>
          <div class="flex justify-between w-7/12 ml-3">

            <div>
              <h1 class="text-xl font-semibold"><%= menu.name %></h1>
              <p class="text-sm"><%= menu.description %></p>
              <h2 class="font-semibold mt-2">$<%= menu.price.round(2) %></h2>
            </div>

            <div class="flex justify-between w-40 ml-3">
              <div>

                <div class="underline underline-offset-2">
                  <i class="fa-solid fa-pen-to-square"></i>
                  <%= link_to "Edit", edit_restaurant_menu_path(@restaurant, menu)%>
                </div>

              </div>
              <div>

                <div class="underline underline-offset-2">
                  <i class="fa-solid fa-trash-can"></i>
                  <%= link_to "Delete", menu_path(menu), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
                </div>

              </div>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="mt-12">
  <%= render "shared/footer" %>
</div>
