
<div data-controller="navlinks">
  <div class="flex justify-center items-center navbar navbar-expand-sm navbar-light navbar-lewagon fixed top-16 shadow-sm z-20">
    <div class="px-4 my-3">
      <p class="text-2xl" data-tooltip="Rating highest-to-lowest">
        <%= link_to restaurants_path(rating: 4.0) do %>
          <i class="fas fa-star <%= "selected" if params[:rating] %>" id="star"></i>
        <% end %>
      </p>
    </div>
    <div class="px-4 my-3">
      <p class="text-2xl" data-tooltip="American">
        <%= link_to restaurants_path(cuisine: "American") do %>
          <i class="fas fa-hamburger <%= "selected" if params[:cuisine] == "American" %>" id="hamburger"></i>
        <% end %>
      </p>
    </div>
    <div class="px-4 my-3">
      <p class="text-2xl" data-tooltip="Japanese">
        <%= link_to restaurants_path(cuisine: "Japanese") do %>
          <i class="fas fa-fish <%= "selected" if params[:cuisine] == "Japanese" %>" id="fish"></i>
        <% end %>
      </p>
    </div>
    <div class="px-4 my-3">
      <p class="text-2xl" data-tooltip="Mexican">
        <%= link_to restaurants_path(cuisine: "Mexican") do %>
          <i class="fas fa-pepper-hot <%= "selected" if params[:cuisine] == "Mexican" %>" id="pepper"></i>
        <% end %>
      </p>
    </div>
    <div class="px-4 my-3">
      <p class="text-2xl" data-tooltip="Chinese">
        <%= link_to restaurants_path(cuisine: "Chinese") do %>
          <i class="fa-solid fa-bowl-food <%= "selected" if params[:cuisine] == "Chinese" %>" id="rice"></i>
        <% end %>
      </p>
    </div>
    <div class="px-4 my-3">
      <p class="text-2xl" data-tooltip="Bars">
        <%= link_to restaurants_path(cuisine: "Bar") do %>
          <i class="fa-solid fa-martini-glass-citrus <%= "selected" if params[:cuisine] == "Bar" %>" id="glass"></i>
        <% end %>
      </p>
    </div>
    <div class="px-4 my-3">
      <p class="text-2xl" data-tooltip="Vegan">
        <%= link_to restaurants_path(cuisine: "Vegan") do %>
          <i class="fas fa-carrot <%= "selected" if params[:cuisine] == "Vegan" %>" id="carrot"></i>
        <% end %>
      </p>
    </div>
    <div class="nav nav-tabs map-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Restaurants</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Map</button>
    </div>
 </div>
</div>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <%= render "restaurants/list", restaurants: @restaurants %>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


<div style="width: 83%; height: 600px; margin: 50px auto; z-index: 0;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="mt-12">
  <%= render "shared/footer" %>
</div>
